<main
  class="bg-dark z-3 container-fluid min-vh-100 py-4 px-5 text-white d-flex flex-column gap-3"
>
  <h1 class="text-center fw-bold">{{ title }}</h1>

  <budget-main-information />
  <add-transaction />

  <div class="row">
    <incomes-list class="col" />
    <expenses-list class="col" />
  </div>

  <loading-page [show]="isloading$ | async" />

  <!-- @if (!(isloading$ | async)) {
    <h1 class="text-center fw-bold">{{ title }}</h1>

    <budget-main-information />
    <add-transaction />

    <div class="row">
      <incomes-list class="col" />
      <expenses-list class="col" />
    </div>
  } @else {
    <loading-page class="my-auto"/>
  } -->
</main>
